.homepage {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: auto;
  padding: 20px;
}

.top-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;
}

.chart-container, .budgetgoal-container, .bottom-container {
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  margin: 10px auto;
  padding: 20px;
}

.chart-container {
  display: flex;
  justify-content: space-around;
  width: 60%; /* Adjust as needed */
}

.budgetgoal-container {
  width: 25%; /* Adjust as needed */
}

.bottom-container {
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  margin: 20px auto;
  padding: 20px;
  width: 92.5%;
}

/* Add media query for responsiveness */
@media (max-width: 768px) {
  .homepage {
    width: 90%;
  }

  .chart-container, .budgetgoal-container, .bottom-container {
    width: 100%;
  }
}
