.homepage {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: auto;
  padding: 20px;
}

.top-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;
  flex-wrap: wrap;
}

.chart-container, .budgetgoal-container, .bottom-container {
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  margin: 10px auto;
  padding: 20px;
}

.chart-container {
  display: flex;
  justify-content: space-around;
  width: 60%;
  overflow: hidden;
  align-items: center;
}

.budgetgoal-container {
  width: 25%; 
}

.budgetgoal-container h3 {
  text-align: center;
  color: black;
}

.bottom-container {
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  margin: 20px auto;
  padding: 20px;
  width: 92.5%;
}

@media (max-width: 1000px) {
  .homepage {
    width: 90%;
  }

  .chart-container, .budgetgoal-container {
    width: 100%;
  }
}

.export-graph-p {
  opacity: 0.5;
  font-size: small;
  margin-top: 10px;
  cursor: pointer;
  transition: 0.1s ease-in-out;
}

.export-graph-p:hover {
  scale: 1.03;
}

.bottom-container h3 {
  text-align: center;
  color: black;
}

.bottom-container ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.bottom-container li {
  background-color: #f0f0f0;
  text-align: left;
  color: black;
  padding: 10px 15px;
  margin-bottom: 5px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.bottom-container li:hover {
  background-color: #e0e0e0;
}

.notification-message {
  flex-grow: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.notification-date {
  margin-left: 15px;
  opacity: 0.7;
  white-space: nowrap;
}

.notification-icon {
  color: #007bff;
  margin-right: 10px;
}