.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .login-form {
    display: flex;
    flex-direction: column;
    width: 300px;
  }
  
  .submit-button {
    margin-top: 20px;
  }

  .error-text {
    color: red;
  }

  .login-button {
    margin-top: 20px;
  }


  .signup-login-text {
    color: black;
  }

  #signup-link-text {
    padding-left: 10px;
  }
  #bb-logo {
  width: 350px;
  }

  a:hover {
    transform: scale(1.03);
  }