.sidebar {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    top: 42px;
    left: 0;
    height: 100%;
    background-color: white;
    z-index: 0;
    transition: transform 0.3s ease-out;
    border-right: 1px solid black;
  }

  .sidebar.closed {
    transform: translateX(-100%);
  }
  
  .sidebar ul {
    list-style-type: none;
    padding-left: 0px;
    color: black;
  }
  
  .sidebar li {
    display: flex;
    font-size: 20px;
    padding: 10px;
  }

  .sidebar-toggle {
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .sidebar a {
    margin-bottom: 40px;
  }

  .sidebar-icon {
    margin-right: 10px;
    margin-top: 2px;
  }

  .sidebar-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  
  .logOut-container:hover {
    transform: scale(1.05);
  }

  .logOut-link {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 35px;
  }

  .logOut-icon {
    color: red;
    font-size: 30px;
  }

  .logOut-button {
    margin-left: 2.5px;
    font-size: 20px;
    color: red;
  }
