.sidebar {
    position: fixed;
    top: 42px;
    left: 0;
    height: 100%;
    background-color: white;
    z-index: 0;
    transition: transform 0.3s ease-out;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  }

  .sidebar.closed {
    transform: translateX(-100%);
  }
  
  .sidebar ul {
    list-style-type: none;
    padding-left: 0px;
    color: black;
    font-family: 'Roboto', sans-serif;
  }
  
  .sidebar li {
    display: flex;
    font-size: 21px;
    padding: 10px;
    text-align: left;
  }

  .sidebar-toggle {
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .sidebar a {
    display: block;
    margin-bottom: 30px;
  }

  .sidebar-icon {
    margin-right: 10px;
    margin-top: 3px;
  }

