.signup-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
  }
  
  .signup-form {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin-bottom: 20px;
  }
  
  .signup-button {
    margin-top: 20px;
  }
  
  #bb-logo {
    width: 350px;
    }
   
    .google-logo {
      width: 50px;
    }