.support-container {
    flex-direction: column;
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 60px;
    border-radius: 10px;
    margin: auto;
    width: 500px;
    align-items: center;
    height: 350px;  
  }