.topbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  background-color: white;
  z-index: 100;
  -webkit-app-region: drag;
}

.titlebar {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.title {
  font-size: 20px;
  color: black;
}

.titlebar > .toggleButton {
  width: 45px;
  height: 40px;
  border: none;
  outline: none;
  background-color: transparent;
  background-image: url(../assets/toggleButton.png);
  background-repeat: no-repeat;
  background-position: center;
  transition: 0.2;
  cursor: pointer;
  margin-right: 10px;
  -webkit-app-region: no-drag;
}

.titlebar > .title {
  margin-left: 10px;
  font-weight: 200;
  font-size: larger;
  margin-top: 5px;
  padding-bottom: 5px;
}

.titleBarBtns {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 120px;
  height: 40px;
}

.titleBarBtns > .topBtn {
  padding: 1em 1em;
  border: none;
  outline: none;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  transition: 0.2;
  cursor: pointer;
  -webkit-app-region: no-drag;
}

.titleBarBtns > .minimizeBtn {
  background-image: url(../assets/minimize.png);
}

.titleBarBtns > .maximizeBtn {
  background-image: url(../assets/maximize.png);
}

.titleBarBtns > .closeBtn {
  background-image: url(../assets/close.png);
}

.titlebar .profile-image {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin-right: 10px;
  margin-left: 550px;
  border: 1px solid black;
  cursor: pointer;
  -webkit-app-region: no-drag;
  top: 50px;
  right: 0;
  position: fixed;
}

.darkModeSwitch {
  -webkit-app-region: no-drag;
}

#minimize {
  border: none;
  box-shadow: none;
}

#maximize {
  border: none;
  box-shadow: none;
}

#close {
  border: none;
  box-shadow: none;
}

#showHideMenus {
  border: none;
  box-shadow: none;
}